
/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/

body {

    --backgroundColor: #0D1926;
    --primaryColor: #e6e6e6;
    --secondaryColor: #83FF08;
    --detailColor: #FF0883;

    --headingFont: 'Ubuntu Mono', monospace;;
    --defaultFont: 'Roboto Mono', monospace;
    

    background-color: var(--backgroundColor);
    font-family: var(--defaultFont);
    font-size: 1rem;
    color: var(--primaryColor);

    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--headingFont);
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-family: var(--headingFont);
}

p {
    line-height: 140%;
}

a {
    color: var(--linkColor);
    text-decoration: none;
    border-bottom: var(--secondaryColor) .1rem solid;
    padding: .2rem;
}

a:hover {
    color: var(--backgroundColor);
    background-color: var(--secondaryColor);
}

a.active {
    color: var(--backgroundColor);
    background-color: var(--secondaryColor);
}

.fa {
    border: none;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.fa:hover {
    background: none;
    color: var(--secondaryColor);
}

span.accent {
    color: var(--secondaryColor);
}

label {
    font-size: 1.15rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

input, textarea {
    margin-top: .5rem;
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .5rem;
    font-size: 1.025rem;
    background-color: var(--backgroundColor);
    border: var(--secondaryColor) .15rem solid;
    color: var(--primaryColor);
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 5rem;
}

input[type=submit] {
    width: fit-content;
    align-self: flex-end;
}

input[type=submit]:hover {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

main {
    margin-top: 5rem;
    padding: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

main header {
    margin-right: 1rem;
    padding-right: 3rem;
    border-right: var(--detailColor) .1rem solid;

    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

}

main section {
    width: 50%;
    flex-shrink: 2;
    flex-grow: 1;
}

nav.main-nav {
    margin-top: 5rem;
}

form {
    display: flex;
    flex-flow: column wrap;
}

nav.social-nav {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

/* --- Main nav --- */

nav.main-nav li {
    margin-top: 1.25rem;
}

nav.main-nav span {
    font-size: .8rem;
    font-weight: 700;
}

nav.main-nav li a {
    font-weight: 700;
}

/* --- Main Content --- */



/* --- Contact Form --- */
