:root {
    --background-color: #0D1926;
    --primary-color: #e6e6e6;
    --secondary-color: #83FF08;
    --detail-color: #FF0883;
    --heading-font: 'Ubuntu Mono', monospace;
    --default-font: 'Roboto Mono', monospace;
}

/*    HTML ELEMENTS    */

body {
    background-color: var(--background-color);
    font-family: var(--default-font);
    font-size: 1rem;
    color: var(--primary-color);
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--heading-font);
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-family: var(--heading-font);
}

p {
    line-height: 140%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: var(--secondary-color) .1rem solid;
    padding: .2rem;
}

a:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

a.active {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.fa {
    border: none;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.fa:hover {
    background: none;
    color: var(--secondary-color);
}

span.accent {
    color: var(--secondary-color);
}

label {
    font-size: 1.15rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

input,
textarea {
    margin-top: .5rem;
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .5rem;
    font-size: 1.025rem;
    background-color: var(--background-color);
    border: var(--secondary-color) .15rem solid;
    color: var(--primary-color);
}

textarea {
    height: 5rem;
}

input:focus,
textarea:focus {
    outline: none;
}

input[type="submit"] {
    width: fit-content;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* CONTAINING ELEMENTS */

main {
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

main header {
    margin-right: 1rem;
    padding-right: 3rem;
    border-right: var(--detail-color) .1rem solid;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

}

main section {
    width: 50%;
    flex-shrink: 2;
    flex-grow: 1;
}

nav.main-nav {
    margin-top: 5rem;
}

form {
    display: flex;
    flex-flow: column wrap;
}

nav.social-nav {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
}

/* PAGE SPECIFIC ELEMENTS */

/* --- Main nav --- */

nav.main-nav li {
    margin-top: 1.25rem;
}

nav.main-nav span {
    font-size: .8rem;
    font-weight: 700;
}

nav.main-nav li a {
    font-weight: 700;
}